<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        {% include header.html %}
    </header>
    <div class="account">
        {% include account.html %}
    </div>
    <div class="post_container" id="start">
        <img src="{{ page.image }}" alt="">
        <h1>{{ page.title }}</h1>
        <h3>{{ page.date }} | {{ page.categories}}</h3>
        <p>{{ page | markdownify }}        </p>
    </div>
    <div class="button">
        <a href='{{site.url}}/'>Back</a>
        <a href="#start">Go to start</a>
    </div>
</body>
</html>